* {
    box-sizing: border-box;
}

body {
    background-image: url('https://picsum.photos/1600/1600?image=684');
    background-size: cover;
    min-height: 100vh;
}

#scoreForm {
    margin-top: 100px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 20px 15px rgba(0, 0, 0, .3);
}